<body>
  <div class="top_page">
    <div class="search_box">
      <form class="city">
        <input type="text" placeholder="Search City" />
        <button class="search">
          <img class="icon_search" src="../assets/icons/search_24dp_FILL0_wght300_GRAD0_opsz24.svg">
        </button>
      </form>
    </div>

    <div class="city_info">
      <h3 class="city_name">Test</h3>
      <img class="temp_img" src="../assets/icons/icons8-sun.svg"/>
      <h1 class="temp">13C</h1>
      <h5 class="min_max">Min/Max</h5>
    </div>
  </div>

  <app-forecast-day></app-forecast-day>
  <app-forecast-card></app-forecast-card>
  <app-forecast-pill></app-forecast-pill>
</body>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
